<h1>AjaxApp</h1>
<%= form_with url: "/posts", method: :post, id: "form" do |form| %>
  <%= form.text_field :content , id: "content" %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
  <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>

<%#7〜14行目がメモのブロック。この部分をクリックした時にイベント発火させたい%>
<%# 11 カスタムデータを使って"post"クラスに"id"と"check"の属性を追加し、idの値に一つ一つの投稿データのid、checkの値にはcheckedカラムの値をそれぞれ代入 %>
<%#8エンドポイントとなるpost.idをjsへ持たせるため%>